/*TOP-LEVEL SETTINGS*/
html {
  /**colors**/
  --main: rgb(146, 191, 177);
  --dark: rgb(51, 51, 51);
  --dark-transparent: rgba(51, 51, 51, 45%);
  --black: rgb(15, 15, 15);
  --white: rgb(255, 255, 255);
  --red: rgb(255, 0, 0);
  /**shadows**/
  /* --light-text-shadow: .5px 1px 2px var(--dark); */
  --small-shadow: 1px 2px 3px var(--dark);
  --medium-shadow: 1px 2px 9px var(--dark);
  --big-shadow: 8px 8px 20px var(--dark);
  /*vertical*/
  --small-shadow-v: 1px -2px 3px var(--dark);
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'DynaPuff', cursive;
}

#app {
  padding-top: 40px;
}

/*UTILS*/
.sticky {
  position: fixed;
  top: 0;
  z-index: 10;
}

/**HEADER**/
#main--header {
  width: 100%;
  background-color: var(--dark-transparent);

}

#main--header-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/**HEADER - LOGO**/
#logo {
  display: inline-block;
  box-shadow: var(--small-shadow);
  background-color: var(--main);
  text-align: center;
  width: 4em;
  color: var(--white);
  font-size: 2.7em;
  text-shadow: var(--small-shadow);
  border-radius: 5px;
}

/**HEADER - SEARCH BAR**/
#search--box {
  position: relative;
  display: inline-block;
  width: 20%;
}

#search--box i {
  color: var(--main);
  position: absolute;
  top: 4px;
  right: 2px;
  z-index: 20;
  font-size: 1.4em;
  text-shadow: var(--small-shadow);
}

#search--input {
  width: 100%;
  display: inline-block;
  padding: 6px;
  border-radius: 20px;
}

/**NAVIGATION**/
/*NAVIGATION - LINKS*/
.nav-link {
  font-size: 2em;
  font-weight: 100;
  padding: 15px 0;
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: var(--small-shadow);
}

.nav-link:hover {
  color: var(--dark);
}

.current {
  color: var(--black);
}

/*NAVIGATION - closed*/
.navbar--container {
  top: 15%;
  background: var(--main);
  min-height: 270px;
  height: 30%;
  min-width: 95px;
  width: 7%;
  box-shadow: var(--medium-shadow);
}

#navbar--container-inner {
  display: flex;
  justify-content: center;
}

.navbar--close-icon {
  margin-top: 22px;
  margin-left: 49px;
  font-size: 1.5em;
}

.navbar--close-icon:hover {
  color: var(--white);
  cursor: pointer;
}

.navbar--title {
  margin-left: 13px;
  margin-top: 35px;
  margin-bottom: 15px;
}

.navbar--title h4 {
  writing-mode: vertical-rl;
  letter-spacing: .34em;
  text-transform: uppercase;
  color: var(--white);
  font-size: 1.5em;
  font-weight: bolder;
  text-shadow: 1px -2px 3px var(--dark);
}

/*NAVIGATION - opened*/
.nav--open {
  top: 14%;
  height: 50%;
  min-width: 170px;
  width: 12%;
  background: var(--main);
  transition: all .4s ease-out;
  opacity: 1;
  box-shadow: var(--medium-shadow);
}

.nav--open-icon {
  position: absolute;
  top: 1px;
  right: 1px;
  text-align: right;
  padding: 8px;
}

.nav--open-icon i {
  font-size: 1.8em;
  color: var(--white);
}

.nav--open-icon i:hover {
  color: var(--dark);
  cursor: pointer;
}

.nav--open-title {
  font-size: .8em;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .2em;
  margin-top: 35%;
}

.nav--open-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  text-align: center;
}

.hide {
  transform: translateX(-300px);
  transition: all .3s ease-out;
  opacity: 0;
}

.show {
  transition: all .3s ease-out;
}

/*GIFS*/
#gif-wrapper {
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 10px;
  column-count: 4;
  column-gap: 15px;
  margin-top: 1em;
}

#gif-wrapper .gif {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
}

#gif-wrapper {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
}

#gif-container {
  max-width: 70%;
  border-color: black;
  /* border: solid 2px; */
  /* margin-top: 1em;
    margin-left: auto;
    margin-right: auto; */
  margin: 1em auto
}

.gif {
  transition: all 0.2s ease;
  box-shadow: var(--medium-shadow);
}

.gif:hover {
  transform: scale(1.05);
  box-shadow: var(--big-shadow);
}

.gif-and-above {
  position: relative;
}

.gif-and-above span {
  position: absolute;
  bottom: 0em;
  right: -3em;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: var(--white);
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.gif-and-above .active {
  position: absolute;
  right: -2.5em;
  color: var(--red);
  font-size: 18px;
}

/**GIFS - DETAILED VIEW**/
#gif-detailed {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 5px;
}

#gif-preview {
  justify-self: center;
}

#gif-details {
  display: flex;
  justify-content: space-between;
}

#heart {
  font-size: 40px;
}

#heart:hover {
  transform: scale(1.2) translateY(-3px);

}

.gif-info p {
  font-size: 30px;
  text-align: center;
}

/**MEDIA QUERIES**/
/*GIFS LAYOUT*/
@media (max-width: 1000px) {
  #gif-wrapper {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

@media (max-width: 800px) {
  #gif-wrapper {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  #gif-container {
    max-width: 90%;
  }
}

@media (max-width: 400px) {
  #gif-wrapper {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  #gif-container {
    max-width: 95%;
  }
}

/*button template*/
/* #gif-details-btn {
  display: inline-block;
  font-size: 15px;
  border: none;
  background-color: #2e2e2e;
  border-radius: 20px;
  color: #ffff;
  padding: 0.8em 1.5em;
  transition: all 0.2s ease;
}

#gif-details-btn:hover {
  background-color: aqua;
  border: 0.1px #797878 solid;
  color: #2e2e2e;
  transform: scale(1.1);
  box-shadow: 5px 5px 20px #656464;
} */